<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cover Art Thumbnails</title>
  <link rel="stylesheet" href="/css/coverArtThumbnails.css">
</head>
<body>
<h1 th:text="'Cover Art for Slot ' + ${slot}">Cover Art</h1>

<div th:if="${encodedImages.isEmpty()}">
  <h1 th:text="'No cover art found for slot ' + ${slot}">No cover art found</h1>
</div>

<div th:unless="${encodedImages.isEmpty()}" class="thumbnail-container">
  <img th:each="image : ${encodedImages}"
       class="thumbnail"
       th:src="'data:image/jpeg;base64,' + ${image.base64Data}" alt=""/>
</div>
</body>
</html>
