<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cover Art Thumbnails</title>
  <link rel="stylesheet" href="/css/coverArtThumbnails.css">
</head>
<body>

<div th:if="${album != null}">
  <h1 th:text="${album.title} + ' by ' + ${album.artist} + ' (' + ${album.year} + ')'">Cover Art</h1>
</div>

<div th:if="${imageCount == 0}">
  <h1 th:text="'No cover art found for slot ' + ${slot}">No cover art found</h1>
</div>

<div th:unless="${imageCount == 0}" class="thumbnail-container">
  <img th:each="index : ${#numbers.sequence(0, imageCount - 1)}"
       class="thumbnail"
       th:src="@{'/ca/' + ${slot} + '/image/' + ${index}}" alt="Cover Art Image"/>
</div>
</body>
</html>
