<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cover Art Thumbnails</title>
  <link rel="stylesheet" href="/css/coverArtThumbnails.css">
</head>
<body>

<div th:if="${album != null}">
  <h1 th:text="${album.title} + ' by ' + ${album.artist} + ' (' + ${album.year} + ')'">Cover Art</h1>
</div>

<div th:if="${imageIndexes.size() == 0}">
  <h1 th:text="'No cover art found for slot ' + ${slot}">No cover art found</h1>
</div>

<div th:unless="${imageIndexes.size() == 0}" class="thumbnail-container">

  <div th:each="index : ${imageIndexes}" class="thumbnail-wrapper">
    <img class="thumbnail" th:classappend="${index == selectedCoverArtIndex ? 'selected-thumbnail' : ''}"
         th:src="@{'/ca/' + ${slot} + '/image/' + ${index}}"
         th:onclick="'openModal(\'/ca/' + ${slot} + '/image/' + ${index} + '\')'"
         alt="Cover Art Image"/>
    <a href="#" th:if="${index != selectedCoverArtIndex}" th:onclick="'selectAndClose(\'/ca/' + ${slot} + '/select/' + ${index} + '\')'" class="select-link">Select</a>
    <span th:if="${index == selectedCoverArtIndex}" class="selected-text">Cover</span>
  </div>
</div>

<!-- The Modal -->
<div id="imageModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="fullImage">
</div>

<script src="/js/coverArtThumbnails.js"></script>
</body>
</html>
